<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 Subtitle</h2>
<h3>h3 Subtitle</h3>
<h4>h4 Subtitle</h4>
<h5>h5 Subtitle</h5>
<h6>h6 Subtitle</h6>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi accusantium aspernatur error accusamus, similique ut in vero quisquam obcaecati dolores deleniti fuga molestias commodi maiores porro eveniet, odit facere at.</p>

<h3>Links</h3>
<a href="" class="app-a">Link 1</a> <a href="" class="app-a">Link 2</a> <a href="" class="app-a">Link 3</a>

<h3>Button</h3>
<button class="app-button">Button</button>

<h3>Code</h3>
<code> const parameter = 39; </code>

<h3>Input</h3>
<input type="text" class="app-input">


<h2>Mixins</h2>
<h3>Shadow</h3>
<div class="shadow">Shadow Mixin</div>

<h3>Card</h3>
<div class="card">Card Mixin</div>

